.banner-search-img{
	background-image: url(../images/banner.png);
	height: 45vh;
}
.search-wrapper{
	padding : 10%;
}
@media only screen and (max-width: 600px) {
  .banner-search-img{
		height: 30vh;
	}
}